#count-main {
  display: flex;
  justify-content: center;
  align-items: center;
}

#inner-container {
  display: flex;
  justify-content: center;
}

.button {
  background-color: rgb(169, 169, 169);
  width: 50px;
  height: 15vh;
  font-size: 25px;
  text-align: center;
  border-radius: 10%;
  color: white;
  border: none;
}

#valInput {
  height: 90%;
  width: 75px;
  border-radius: 10%;
  margin: 0 20px;
  text-align: center;
  border: solid rgb(169, 169, 169) 3px;
}
